<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>Read</title>
</head>
<body>

<div class="container mt-5 d-flex justify-content-center align-items-center">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
            <th scope="col">Photo</th>
          </tr>
        </thead>
        <tbody>
            
            {% for data in user_data %}
                <tr>
                    <th scope="row">{{data.id}}</th>
                    <td>{{data.firstname}}</td>
                    <td>{{data.lastname}}</td>
                    <td><a href="{% url 'update' data.id %}"><button class="btn btn-success">Update</button></a></td>
                    <td><a href="{% url 'delete' data.id %}"><button class="btn btn-danger">Delete</button></a></td>
                    <td><a href="#"><img class="img-fluid img-thumbnail" width="200" src="{{ data.photo.url }}" alt=""></a></td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
        
</div>
<div class="container mt-5 d-flex justify-content-center align-items-center">
    <a href="{% url 'create' %}"><input type="button" class="btn btn-success ml-3" value="Create"></a>
    <a href="{% url 'read' %}"><input type="button" class="btn btn-success ml-3" value="read"></a>
</div>

<all>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</all>
</body>
</html>